@keyframes fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.modalContainer {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 30vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 5px #b54b71;
    /* border: solid 1px #ddd; */
    opacity: .9;
    padding: 5px;
    animation: fade-in .4s ease-in;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: -2px 4px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 11px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 11px -4px rgba(0,0,0,0.75);
}

.closeModalButton {
    position: absolute;
    top: 5px;
    right: 7px;
    color: #b54b71;
    font-size: 34px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
}

.closeModalButton:hover {
    color: #571f38!important;
}

hr {
    border: thin solid #ddd;
    width: 50%;
    margin: 5px;
}

p {
    font-weight: bold;
    margin: 2px;
    padding: 0;
}

span {
    font-weight: normal;
}