@ - webkit - keyframes vwds - bounce {

    0 %,
    20 %,
    50 %,
    80 %,
    to {
        transform: translateY(0)
    }

    40 % {
        transform: translateY(-20 px)
    }

    60 % {
        transform: translateY(-5 px)
    }
}

@keyframes vwds - bounce {

    0 %,
    20 %,
    50 %,
    80 %,
    to {
        transform: translateY(0)
    }

    40 % {
        transform: translateY(-20 px)
    }

    60 % {
        transform: translateY(-5 px)
    }
}

@ - webkit - keyframes fade - in {
    0 % {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade - in {
    0 % {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@font - face {
    font - family: "VWAG The Sans";
    src: url(assets / fonts / VWAGTheSans - Regular.eot);
    src: url(assets / fonts / VWAGTheSans - Regular.woff2) format("woff2"), url(assets / fonts / VWAGTheSans - Regular.woff) format("woff"), url(assets / fonts / VWAGTheSans - Regular.ttf) format("truetype"), url(assets / fonts / VWAGTheSans - Regular.eot ? #iefix) format("embedded-opentype"), url(assets / fonts / VWAGTheSans - Regular.otf) format("opentype"), url(assets / fonts / VWAGTheSans - Regular.svg) format("svg");
    font - weight: 400;
    font - style: normal
}

html {
    scroll - behavior: smooth
}

body,
button,
input,
select,
textarea {
    font - family: 'VWAG The Sans', sans - serif
}

body: after {
    display: none;
    content: url(assets / images / instagram_icon_hover @2x.png) url(assets / images / linkedin_icon_hover @2x.png) url(assets / images / twitter_icon_hover @2x.png)
}

.vwds - brand {
    border - radius: 0 !important;
    text - transform: uppercase;
    transition: background .3 s ease - in -out
}

.vwds - brand.is - inverted {
    background: #fff;
    border - color: #a21e4d;
    color: #a21e4d
}

.vwds - brand,
.vwds - brand.is - inverted: hover {
    background: #a21e4d;
    color: #fff
}

.vwds - brand a,
.vwds - brand a: hover {
    color: #a21e4d
}

.vwds - brand.column {
    margin: 3 rem 0;
    padding: 4 rem 0
}

.vwds - title {
    color: #a9adb2;
    text - transform: uppercase;
    position: relative
}

.vwds - title.vwds--huge {
    font - size: 50 px
}

.vwds - title: before {
    content: '';
    position: absolute;
    top: -30 px;
    left: 0;
    width: 25 %;
    border - top: 10 px solid# a21e4d
}

a.vwds - brand.navbar - item: hover,
button.button.vwds - brand: hover {
    background - color: #571f38;
    color: # fff
}

img.vwds - logo {
    max - height: 2 rem
}

.title.vwds - brand {
    color: #a21e4d !important;
    background: 0 0
}

.vwds - card {
    position: relative;
    overflow: hidden
}

.vwds - card.vwds - card__image {
    background - repeat: no - repeat;
    background - position - x: 0;
    background - position - y: center;
    background - size: contain;
    display: inline - block;
    height: 100 %;
    left: 45 %;
    position: absolute;
    top: 60 px;
    width: 80 %;
    z - index: -1
}

# about.vwds - card.vwds - card__image {
    background - image: url(assets / images / about @1x.jpg)
}

.img - webp# about.vwds - card.vwds - card__image {
    background - image: url(assets / images / about @1x.webp)
}

@media only screen and(-webkit - min - device - pixel - ratio: 1.3),
only screen and(-webkit - min - device - pixel - ratio: 1.25),
only screen and(min - resolution: 120 dpi) {
    # about.vwds - card.vwds - card__image {
        background - image: url(assets / images / about @2x.jpg)
    }

    .img - webp# about.vwds - card.vwds - card__image {
        background - image: url(assets / images / about @2x.webp)
    }
}

.vwds - card.vwds - card__box {
    background: #fff
}

.vwds - card.vwds - card__box.subtitle {
    max - height: 100 px;
    overflow - y: scroll;
    position: relative
}

.vwds - spacer {
    position: relative;
    min - height: 15 px;
    width: 100 %
}

.vwds - spacer::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100 %;
    height: 100 %;
    border - bottom: 1 px solid# c4c4c4
}

.vwds - details {
    margin - bottom: 1.5 rem
}

.vwds - details.title {
    color: #000;
    margin-bottom: .25em
}

.vwds-detail img {
    margin: 0 auto
}

details.vwds-details>summary::-webkit-details-marker {
    display: none
}

details.vwds-details>summary::before {
    content: '';
    border-left: 6px solid # a21e4d;
    display: inline - block;
    height: 100 %;
    position: absolute;
    left: -20 px
}

details.vwds - details>summary {
    display: inline - block;
    list - style - type: none;
    position: relative
}

# home {
    position: relative
}

# home.slideshow {
    border: 0;
    height: 100 %;
    position: absolute;
    left: 0;
    right: 0;
    top: 0
}

.vwds - slideshow__cta {
    -webkit - animation - duration: 1 s;
    animation - duration: 1 s;
    - webkit - animation - fill - mode: both;
    animation - fill - mode: both;
    - webkit - animation - timing - function: ease - in -out;
    animation - timing - function: ease - in -out;
    - webkit - animation - iteration - count: infinite;
    animation - iteration - count: infinite;
    background: #fff;
    bottom: 20 px;
    color: #000;
    display: inline-block;
    font-size: 3rem;
    height: 90px;
    left: calc(50% - 45px);
    line-height: 90px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 90px
}

.vwds-slideshow__cta:hover {
    -webkit-animation-name: vwds-bounce;
    animation-name: vwds-bounce
}

# slideshow - image - 1 {
    background - image: url(/assets/images / header @1x.jpg)
}

.img - webp# slideshow - image - 1 {
    background - image: url(/assets/images / header @1x.webp)
}

@media only screen and(-webkit - min - device - pixel - ratio: 1.3),
only screen and(-webkit - min - device - pixel - ratio: 1.25),
only screen and(min - resolution: 120 dpi) {
    # slideshow - image - 1 {
        background - image: url(/assets/images / header @2x.jpg)
    }

    .img - webp# slideshow - image - 1 {
        background - image: url(/assets/images / header @2x.webp)
    }
}

# slideshow - image - 2 {
    background - image: url(/assets/images / header2 @1x.jpg)
}

.img - webp# slideshow - image - 2 {
    background - image: url(/assets/images / header2 @1x.webp)
}

@media only screen and(-webkit - min - device - pixel - ratio: 1.3),
only screen and(-webkit - min - device - pixel - ratio: 1.25),
only screen and(min - resolution: 120 dpi) {
    # slideshow - image - 2 {
        background - image: url(/assets/images / header2 @2x.jpg)
    }

    .img - webp# slideshow - image - 2 {
        background - image: url(/assets/images / header2 @2x.webp)
    }
}

# slideshow - image - 3 {
    background - image: url(/assets/images / header3 @1x.jpg)
}

.img - webp# slideshow - image - 3 {
    background - image: url(/assets/images / header3 @1x.webp)
}

@media only screen and(-webkit - min - device - pixel - ratio: 1.3),
only screen and(-webkit - min - device - pixel - ratio: 1.25),
only screen and(min - resolution: 120 dpi) {
    # slideshow - image - 3 {
        background - image: url(/assets/images / header3 @2x.jpg)
    }

    .img - webp# slideshow - image - 3 {
        background - image: url(/assets/images / header3 @2x.webp)
    }
}

.column.is - vcentered {
    align - items: center;
    display: flex
}

.column.is - stacked {
    flex - direction: column
}

.column.is - vcentered.is - stacked {
    justify - content: center;
    align - items: flex - start
}

.is - squared {
    border - radius: 0 !important
}

.is - underlined {
    text - decoration: underline
}

.linkedin {
    color: #fff;
    background - color: #0077b5;
    transition: background .3s ease-in-out
}

.linkedin:hover {
    color: # fff;
    background - color: #00a0dc
}

.has-shadow-darker {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25) !important
}

input.vwds-brand,
textarea.vwds-brand {
    background-color: # b54b71;
    border: 0;
    color: #fff;
    text - transform: none
}

.vwds - contact - form.vwds - brand {
    padding: 2 em 1.5 em;
    text - transform: none
}

.vwds - sideBox {
    height: 200 px;
    position: relative;
    padding: 3 rem;
    margin - top: 1.5 rem
}

.vwds - sideBox__box figure {
    flex: 1
}

.has - text - vwds {
    color: #a21e4d;
    font - family: 'VWAG The Sans',
        sans - serif
}

.is - one - line {
    white - space: nowrap
}

.vwds - network,
.vwds - network.vwds - brand {
    align - items: center;
    color: #7a7a7a;
    display: flex
}

.vwds-network.vwds-brand.is-inverted:hover {
    color: # a21e4d;
    background: 0 0
}

.vwds - network>.icon {
    background - position: center;
    background - repeat: no - repeat;
    background - size: 25 px;
    height: 25 px;
    line - height: 25 px;
    margin - right: .5 rem;
    transition: background - image .3 s ease - in -out;
    width: 25 px
}

.icon.vwds - network__linkedin {
    background - image: url(assets / images / linkedin_icon_normal @2x.png)
}

a.vwds - brand: hover.icon.vwds - network__linkedin {
    background - image: url(assets / images / linkedin_icon_hover @2x.png)
}

.icon.vwds - network__twitter {
    background - image: url(assets / images / twitter_icon_normal @2x.png)
}

a.vwds - brand: hover.icon.vwds - network__twitter {
    background - image: url(assets / images / twitter_icon_hover @2x.png)
}

.icon.vwds - network__instagram {
    background - image: url(assets / images / instagram_icon_normal @2x.png)
}

a.vwds - brand: hover.icon.vwds - network__instagram {
    background - image: url(assets / images / instagram_icon_hover @2x.png)
}

input[type=submit].vwds - brand.is - inverted: hover {
    border: 2 px solid# fff
}

.vwds - maps - link {
    position: relative
}

.vwds - maps - link::before {
    background - image: url(assets / images / location_icon @2x.png);
    background - repeat: no - repeat;
    background - size: 19 px 28 px;
    content: '';
    display: inline - block;
    height: 28 px;
    left: -30 px;
    position: absolute;
    width: 19 px
}

.vwds - sideBox__box {
    height: 100 vw;
    margin - bottom: 3 rem
}

.gmap_canvas,
.mapouter,
iframe {
    height: 100 %
}

@media only screen and(-webkit - min - device - pixel - ratio: 1.3),
only screen and(-webkit - min - device - pixel - ratio: 1.25),
only screen and(min - resolution: 120 dpi) {
    body {
        -moz - osx - font - smoothing: grayscale;
        - webkit - font - smoothing: antialiased;
        font - smoothing: antialiased
    }
}

# careers {
    background - clip: content - box
}

# contact img.vwds - logo {
    height: 36 px;
    width: 225 px;
    max - height: inherit
}

# contact.big - bottom - margin {
    margin - bottom: 110 px
}

# contact.linkedin - logo {
    height: 20 px;
    width: 84 px
}

# techUnits.column.container {
    margin - bottom: 3 rem
}

# techUnits.column: last - child.container {
    margin - bottom: inherit
}

# careers.subtitle.is - 5,
.subtitle.is - 6 {
    line - height: 150 %
}

.vwds - businessUnit__description {
    min - height: 72 px
}

# cookieBanner {
    bottom: 1 rem;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0
}

# cookieBanner.is - active {
    -webkit - animation: fade - in 1 s;
    animation: fade - in 1 s;
    opacity: 1
}

.navbar - menu {
    opacity: 0
}

.navbar - menu.is - active {
    -webkit - animation: fade - in .3 s;
    animation: fade - in .3 s;
    opacity: 1
}

.is - flex - mobile.is - centered {
    justify - content: center
}

@media screen and(min - width: 768 px),
print {
    img.vwds - logo {
        max - height: 2.5 rem
    }

    .navbar - menu {
        opacity: 1
    }

    .has - navbar - fixed - top.is - spaced {
        padding - top: 5.25 rem
    }

    .hero.is - fullheight - with - navbar.is - spaced {
        min - height: 100 vh;
        padding - top: 5.25 rem;
        margin - top: -5.25 rem
    }

    .has - vertical - margins {
        margin: 2 rem 0
    }

    .vwds - sideBox__box {
        margin - bottom: inherit
    }

    .vwds - details: first - child {
        margin - top: -10 rem;
        padding - top: 10 rem
    }

    .vwds - details {
        margin - left: 1 rem;
        margin - top: -6 rem;
        padding - top: 6 rem
    }

    .vwds - details.title {
        color: #000;
        margin-bottom: .25em
    }

    details.vwds-details>.content {
        margin-bottom: 1em
    }

    .vwds-card .vwds-card__box {
        padding: 2.5rem 5rem 2.5rem 3rem;
        box-shadow: 8px 0 15px rgba(0, 0, 0, .25)
    }

    .vwds-title.vwds--huge {
        font-size: 100px
    }

    .vwds-title:before {
        top: -20px
    }

    .gmap_canvas iframe,
    .vwds-spacer {
        height: 100%
    }

    .vwds-spacer::after {
        border-bottom: none;
        border-left: 1px solid # c4c4c4;
        left: 50 %;
        width: 50 %;
        height: 100 %
    }

    .vwds - sideBox {
        height: 300 px
    }

    .vwds - sideBox__box {
        align - items: center;
        bottom: -10 %;
        display: inline - flex;
        height: auto;
        max - height: 480 px;
        position: absolute;
        left: 45 %;
        width: 60 %;
        max - width: 640 px
    }

    # techUnits.column.container {
        margin: 0 2 rem
    }

    .gmap_canvas,
    .mapouter {
        height: 480 px;
        width: 640 px
    }

    .mapouter {
        position: relative;
        text - align: right
    }

    .gmap_canvas {
        overflow: hidden;
        background: 0 0 !important
    }

    .has - margin - top {
        margin - top: 6 rem
    }

    .vwds - detail img {
        max - width: 75 %;
        margin: inherit
    }
}

@media only screen and(max - width: 768 px) {
    # contact.big - bottom - margin {
        margin - bottom: 40 px
    }

    .button.is - fullwidth - mobile {
        display: flex;
        width: 100 %
    }

    table,
    tbody,
    td,
    th,
    thead,
    tr {
        display: block
    }

    td: before,
    thead tr {
        position: absolute;
        top: -9999 px;
        left: -9999 px
    }

    tr {
        border: 1 px solid# ccc
    }

    td {
        border: 0;
        border - bottom: 1 px solid# eee;
        position: relative;
        padding - left: 200 px;
        margin - left: 150 px
    }

    td: before {
        top: 12 px;
        left: 6 px;
        width: 200 px;
        padding - right: 40 px;
        white - space: nowrap;
        margin - left: -150 px;
        font - weight: 700
    }

    td: nth - of -type(1): before {
        content: "Cookie provider"
    }

    td: nth - of -type(2): before {
        content: "Cookie name"
    }

    td: nth - of -type(3): before {
        content: "Purpose"
    }

    td: nth - of -type(4): before {
        content: "Storage period"
    }

    td: nth - of -type(5): before {
        content: "Type of cookie"
    }

    td: nth - of -type(6): before {
        content: "More"
    }
}